/* NAVBAR TOUJOURS SCROLLED */

.navbar {
  background-color: var(--white);
  border-bottom-color: #000;
}

.navbar .navbar_menu ul li a,
.navbar .toggle_language,
.navbar .material-symbols-outlined,
.navbar p {
  color: #000;
}

.navbar .burger_line {
  background-color: #000;
}

.navbar .logo_white {
  opacity: 0;
}

.navbar .logo_black {
  opacity: 1;
}

/* SECTION */

.section:not(.footer_section) {
  padding-top: 10rem;
}

.hotel_form {
  width: 100%;
  max-width: 700px;
  margin-top: 3rem;
}

/* BACK BUTTON */

.hotel_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.hotel_back_btn {
  position: absolute;
  left: var(--paddingWidth);
  width: 40px;
  height: 40px;
  padding: 0;
  justify-content: center;
}

@media (max-width: 768px) {
  .hotel_back_btn {
    display: none;
  }
}

/* CARDS CHAMBRES */

.hotel_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
}

@media (max-width: 1024px) {
  .hotel_cards {
    grid-template-columns: 1fr;
    max-width: 450px;
  }
}

.hotel_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.hotel_card_img {
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 10px;
  overflow: hidden;
}

.hotel_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hub_card_features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.hub_card_feature {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hub_card_feature p {
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--dark);
}

.hotel_card h4 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--dark);
  text-align: center;
}

/* HELP FOOTER */

.help_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-top: 2rem;
}

.help_footer h3 {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--dark);
  text-align: center;
}

.help_footer_content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.help_footer_content p {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--dark);
}

@media (max-width: 480px) {
  .help_footer h3 {
    font-size: 1.4rem;
  }

  .help_footer_content {
    flex-direction: column;
    gap: 0.75rem;
  }

  .help_footer_content p:first-child {
    padding-right: 0;
    border-right: none;
    padding-bottom: 0.75rem;
  }
}

.help_footer_content p:first-child {
  padding-right: 2rem;
}
