.localisation_map {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--dark);
}

.localisation_map iframe {
  display: block;
}

.localisation_cards {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
}

.localisation_card {
  border: 1px solid var(--dark);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  background-image:
    linear-gradient(rgba(249, 244, 233, 0.5), rgba(249, 244, 233, 0.5)),
    url(../assets/images/card-background.webp);
  background-color: rgba(249, 244, 233, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding: 40px 35px;
  flex: 1 1 0;
}

.localisation_card .material-symbols-outlined {
  font-size: 2.5rem;
  font-variation-settings: "FILL" 1;
}

.localisation_card h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  color: var(--dark);
  text-align: center;
}

.localisation_card p {
  color: var(--dark);
  text-align: center;
  font-weight: 300;

  font-size: 0.9rem;
  line-height: 1rem;
}

@media (max-width: 768px) {
  .localisation_cards {
    flex-direction: column;
    align-items: center;
  }

  .localisation_card {
    flex: unset;
    width: min(450px, 100%);
  }
}
